html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name name="description" content="伊豆で墓じまい（お墓の撤去・整理）をお考えなら鈴木石材店にご相談ください。費用の見積もり、行政手続きサポート、お骨の供養まで、お客様のお悩みやご事情に寄り添い丁寧にサポートいたします。まずは無料相談から。")
    title JavaScriptの学習
    link(href=require('../style/main.scss') rel='stylesheet')
  body
    h1 JavaScriptの学習
    p このhtmlファイルとmain.jsを使って学習を進めていきます
    script(src=require('../script/main.ts'))